<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
      <title>Hate Burst</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
      <link rel="stylesheet" href="{{ url_for('static',filename='css/base_style.css') }}">
  </head>
  <body>
    <section>
      <header>
          <h2><a href="#" class="logo"><img src="images/LogoMakr-44Eox4.png" alt=""></a></h2>
          <div class="navigation">
            <a href="#">Home</a>
            <a href="/services">Services</a> <!-- Twitter User, Twitter Hashtag -->
            <!-- <a href="#">About Us</a>
            <a href="#">Contact</a> -->
          </div>
      </header>
      <div class="content">
        <div class="info">
          <h2>Hate<br><span>Burst!</span></h2>
          <p>Hate Speech and Content are widely spread on the web and are the leading barriers to peace and harmony. To identify and eliminate such content is our goal, to ensure a peaceful and harmonious society. To achieve this goal, we present <em>Hate Burst!</em> Our solution to identify hateful content.</p>
          <div class="leads" style="margin:20px">
            <a href="services" class="info-btn">Our Services</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
